<!DOCTYPE html>
<html lang="en" dir="ltr">
{{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "nav.html" . }}
      <div class="projectos">
        <ul>
          <li>
            <h3>O Uivar da Loba</h3>
            <img src="/logoPerfil.png" alt="uivar da loba logo">
          </li>
          <li>
            <h3>Podcast Unknown</h3>
            <img src="/podcasting.png" alt="podcast logo">
          </li>
        </ul>
      </div>

      <div class="event_container">
        {{ range where .Site.Pages "Params.layout" "event" }}
        <ul class="booking">
          <li class="day">{{ .Date.Format "02" }}</li>
          <li class="month">{{ .Date.Format "January" }}</li>
          <li class="activity">{{ .Title }}</li>
          <li class="location">{{ .Params.location }}</li>
          <div class="last_row">
            <li class="hour">{{ .Date.Format "15:04" }}h</li>
            <li class="button_book"><a href="../contacts"><button><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M4 .755L18.374 12 4 23.219l.619.781L20 12 4.609 0 4 .755z"/></svg></button></a></li>
          </div>
        </ul>
        {{ end }}
      </div>

      {{ partial "footer.html" . }}
      {{ partial "script.html" . }}
    </div>
  </body>
</html>
