<!DOCTYPE html>
<html lang="en" dir="ltr">
{{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "nav.html" . }}
      <div class="projectos">
        <ul>
          <li>
            <h2>Project 1</h2>
          </li>
          <li>
            <h2>Project 2</h2>
          </li>
        </ul>
      </div>

      <div class="event_container">
        {{ range where .Site.Pages "Params.layout" "event" }}
        <ul class="booking">
          <li class="day">{{ .Date.Format "02" }}</li>
          <li class="month">{{ .Date.Format "January" }}</li>
          <li class="activity">{{ .Title }}</li>
          <li class="location">{{ .Params.location }}</li>
          <li class="hour">{{ .Date.Format "15:04" }}h</li>
        </ul>
        {{ end }}
      </div>

      {{ partial "footer.html" . }}
      {{ partial "script.html" . }}
    </div>
  </body>
</html>
