<!DOCTYPE html>
<html lang="en" dir="ltr">
{{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "nav.html" . }}
      <div class="projectos">
        <ul>
          <li>
            <h3>O Uivar da Loba</h3>
            <img src="/logoPerfil.png" alt="uivar da loba logo">
          </li>
          <li>
            <h3>Podcast Unknown</h3>
            <img src="/podcasting.png" alt="podcast logo">
          </li>
        </ul>
      </div>

      {{ partial "footer.html" . }}
      {{ partial "script.html" . }}
    </div>
  </body>
</html>
