/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Keania+One&display=swap');

/* Main Stylings */

html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
}


img {
  max-width: 600px;
  max-height: 600px;
  margin: 50px auto;
  display: block;
}


li {
  list-style-type: none;
  margin-left: 20px;
}

a {
   text-decoration: none;
   color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
  color: #333333;
}

h2 {
  margin: auto;
  width: 90%;
  text-align: center;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 45px;
  font-family: 'Keania One', cursive;
  color: black;
}

h3 {
  margin-left: 35px;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  border: solid 1px #363A3A;
  background-color: #F8F8F8;
}

quote {
  font-style: italic;
  font-weight: 400;
  color: #7B7B7B;
  line-height: 25px;
  font-size: 14px;
}



.container {
  width: 100%;
  margin: auto;
}


/* Navigation Partial */

.nav-bar {
  height: 115px;
  width: 95%;
  margin: auto;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.nav-bar img {
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 37.5px;
}

.navigation-links {
  display: none;
  margin-top: 37.5px;
}


.expanded.navigation-links {
  display: block;
  position: absolute;
  top: 100px;
  line-height: 45px;
  font-weight: 300;
  width: 95%;
  padding: 20px 0 0;
  margin: 0;
  border-top: 1px solid #ddd;
}


.expanded.navigation-links:first-child {
  border-top: 1px solid red;
}

#hamburger {
  position: absolute;
  top: 37.5px;
  right: 30px;
  display: block;
  background: white;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
  background-color: #FAFAFA;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDJDMCAzLjEwNDU3IDAuODk1NDMyIDQgMiA0SDIyQzIzLjEwNDYgNCAyNCAzLjEwNDU3IDI0IDJDMjQgMC44OTU0MzIgMjMuMTA0NiAwIDIyIDBIMkMwLjg5NTQzMiAwIDAgMC44OTU0MzIgMCAyWk0wIDEwQzAgMTEuMTA0NiAwLjg5NTQzMiAxMiAyIDEySDIyQzIzLjEwNDYgMTIgMjQgMTEuMTA0NiAyNCAxMEMyNCA4Ljg5NTQzIDIzLjEwNDYgOCAyMiA4SDJDMC44OTU0MzIgOCAwIDguODk1NDMgMCAxMFpNMiAyMEMwLjg5NTQzMiAyMCAwIDE5LjEwNDYgMCAxOEMwIDE2Ljg5NTQgMC44OTU0MzIgMTYgMiAxNkgyMkMyMy4xMDQ2IDE2IDI0IDE2Ljg5NTQgMjQgMThDMjQgMTkuMTA0NiAyMy4xMDQ2IDIwIDIyIDIwSDJaIiBmaWxsPSIjMjgyODI4Ii8+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: center;
}


#hamburger:focus,
#hamburger:hover,
#hamburger:active {
  background-color: #ddd;
  outline: none;
}


/* Footer Stylings */

footer {
  height: 115px;
  background-color: #ECECEC;
  position: relative;
  font-size: 14px;
}

footer span {
  color: #7B7B7B;
  font-weight: 500;
  width: 90%;
  text-align: left;
  margin-left: 10px;
  position: absolute;
  top: 60px;
  font-style: italic;
}

footer ul {
  display: flex;
  padding-top: 25px;
}

footer ul li {
  margin-left: 10px;
}

footer ul li:first-child {
  margin-left: 10px;
}



/* Form Stylings */

.form-box {
  margin: 50px auto;
  width: 80%;
  border: solid #282D2D 1px;
  border-radius: 5px;
  max-width: 550px;
}

label, input, textarea {
  padding: 10px;
  display: block;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

textarea {
  min-height: 100px;
}

#submit {
  display: block;
  width: 150px;
  height: 40px;
  margin: 15px auto;
  background-color: white;
}

/* List Stylings */

.list-menu {
  margin: auto;
}

.list-menu h1 {
  margin-left: 45px;
}

.list-menu ul {
  width: 90%;
  margin: auto;
}

.list-menu img {
  width: 100%;
}

.post-list li {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 40px;
  width: 90%;
  height: 800px;
  margin:auto;
  max-width: 800px;
  max-height: 800px;
  margin-bottom: 50px;
}

.post-thumbnail-area {
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}


.text-box p {
  width: 90%;
  margin: auto;
  --max-lines: 4;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;

  /*text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;*/
}


.post-thumbnail-area:hover {
  filter: sepia(0.5);
}




#read-more{
  border-radius: 5px;
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  height: 35px;
}



/* Index Stylings */


.hero  {
  min-height: 565px;
  position: relative;
  border: solid 1px rgb(68, 70, 92, 0.3);
  background-color: black;
  opacity: 0.9;
}

.hero button {
  height: 50px;
  width: 200px;
  margin: auto;
  display: block;
  background: none;
  color: white;
  border: solid white 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.hero::after {
  content: "";
  background-image: url('water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}


.text-box-main *, .text-box-small * {
  width: 90%;
  margin: auto;
  line-height: 45px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 200;
}

.text-box-main {
  margin-top: 125px;
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 7px;
}

.text-box-small {
  margin-top: 55px;
  font-size: 14px;
  word-spacing: 4px;
  font-weight: 400;
}

.about img {
  height: 400px;
}

.text-container {
  margin: 70px auto;
  width: 70%;
}


.text-container p {
  color: #7B7B7B;
  line-height: 25px;
  font-weight: 300;
}

/* Projectos Stylings */



.projectos ul li {
  margin: 50px auto;
}



/* Media Queries */

@media (min-width: 750px) {

  .projectos ul {
    display: flex;
  }

  .projectos ul li {
    display: inline-block;
  }


  #hamburger {
    display: none;
  }

  .navigation-links li{
    display: inline-block;
  }
}

@media (max-width: 750px) {
  .nav-bar ul {
    display: none;
  }
}
