{{ define "main" }}
  <main>
    <div class="list-menu">
      <article>
        <!--  <header>
              <h1>{{.Title}}</h1>
          </header> -->
          <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      </article>

      <ul class="post-list">
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
      {{ if eq .Params.language "english" }}
          <li>

            <a href="{{.Permalink}}">
              <div class="post-thumbnail-area" style="
                background-image: url({{.Params.thumbnail}});
                ">

                  <h2> {{.Title}} </h2>

              </div>
            </a>

            <div class="text-box">
              <h3>{{ .Params.Description }}</h3>
              <p> {{.Summary}} </p>
            </div>
            {{ if .Truncated }}
              <!-- This <div> includes a read more link, but only if the summary is truncated... -->
              <div>
                <a href="{{ .RelPermalink }}"><button id="read-more">Read More …</button></a>
              </div>
            {{ end }}
          </li>
      {{ end }}
      {{ end }}
      </ul>
    </div>
  </main>
{{ end }}
