<footer>
  <ul>
    <li><a href="https://www.instagram.com/su_anastacio/" target="_blank">
      <img src="/svg/instagram.svg" alt="instagram-icon">
    </a></li>
    <li><a href="https://www.facebook.com/susana.m.anastacio" target="_blank">
      <img src="/svg/facebook.svg" alt="facebook-icon">
    </a></li>
    <li><a href="https://www.linkedin.com/in/susanaanastacio/" target="_blank">
      <img src="/svg/linkedin.svg" alt="linkedin-icon">
    </a></li>
  </ul>
  <span>Copyright &copy; Design por Debora Ribeiro. Todos os direitos reservados.</span>
</footer>
