<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">

  {{ if .IsTranslated }}
	{{ range .Translations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
  {{ end }}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
