<script>
  document.addEventListener('DOMContentLoaded', () => { //wait until everything loaded

    let nav = document.getElementById('nav');

    hamburger.addEventListener("click", function(e){
      dropdown.classList.add('expanded');
        nav.style.height ="340px";
        nav.classList.add('border');
    });


    document.addEventListener("click", function(e){
      if(e.target !== hamburger ){
        dropdown.classList.remove('expanded');
        nav.style.height ="115px";
      }
    });


    let buttons_array = document.getElementsByClassName("booking");

    console.log(buttons_array)

    if (sessionStorage.getItem('message')){
            document.getElementById("message").innerText = sessionStorage.getItem("message");
            sessionStorage.clear();
    }


    for (let i = 0; i< buttons_array.length; i += 1) {
       document.getElementsByClassName("booking")[i].setAttribute("id", i);
       let reservation = document.getElementById(i);
       let activity = reservation.children[0].innerText;
       let date = reservation.children[1].innerText;
       let time = reservation.children[2].innerText;
       let place = reservation.children[3].innerText;
       let button = reservation.children[4].children[0].children[0];


       button.addEventListener("click", function(e) {
         if ({{.Site.LanguagePrefix}} == "/en") {
           let reservation_text = "I want to join the " + activity + " on the " + date + " in " + time + " in " + place;
           sessionStorage.setItem("message", reservation_text)
         } else {
           let reservation_text = "Quero participar na atividade " + activity + " no dia " + date + " às " + time + " em " + place;
           sessionStorage.setItem("message", reservation_text)
         }
       });

    }




    let photos = document.getElementsByClassName("insta-item");
    let insta_table = document.getElementById("visible-table");



    let row_1 =  '<td>' + photos[0].innerHTML + photos[1].innerHTML + photos[2].innerHTML  + '</td>';
    let row_2 =  '<td>' + photos[3].innerHTML + photos[4].innerHTML + photos[5].innerHTML  + '</td>';
    let row_3 =  '<td>' + photos[6].innerHTML + photos[7].innerHTML + photos[8].innerHTML  + '</td>';



    insta_table.innerHTML = row_1 + row_2 + row_3;
  });

</script>






<script>


  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
