
{{ define "main" }}
{{ partial "instafeed.html" . }}
  <main>

      <div class="hero">
        <div class="text-box-main">
          <h2>{{ .Params.titulo_pagina }}</h2>
        </div>
      </div>

      <div class="about">
        <div class="text-container">
          <h1>{{ .Params.titulo_texto }}</h1>
          <quote>{{ .Params.quote }}</quote>
          <p>{{ .Content }}</p>
        </div>
      </div>
  </main>

  <table>
    <tr>
      <th>Evento</th>
      <th>Dia</th>
      <th>Hora</th>
      <th>Local</th>
      <th>Reserva</th>
    </tr>
    {{ range where .Site.Pages "Params.layout" "event" }}
    <tr class="booking">
      <td>{{ .Title }}</td>
      <td>{{ .Date.Format "2006-01-02" }}</td>
      <td>{{ .Date.Format "15:04" }}</td>
      <td>{{ .Params.location }}</td>
      <td><a href="contacts"><button><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
        <path d="M4 .755L18.374 12 4 23.219l.619.781L20 12 4.609 0 4 .755z"/></svg></button></a></td>
    </tr>
    {{ end }}
  </table>

{{ end }}
