
{{ define "main" }}
  <main>
          <div class="hero">
            <div class="text-box-main">
              <h2>A blog about yoga and travel</h2>
            </div>

            <div class="text-box-small">
              <p>We love the Web and the work we do. </br> We work closely with our clients to deliver the best possible solutions for their needs</p>
            </div>

            <button>Discover more</button>

          </div>

        <div class="about">
          <div class="text-container">
            <h1>About us</h1>
            <quote>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</quote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
          </div>
          <div class="back-image">

          </div>
      </div>
  </main>
{{ end }}
